include MANIFEST.in
include LICENSE.txt
include README.rst
include setup.py

recursive-exclude tests *
exclude .gitignore
exclude readthedocs.yml
exclude tox.ini
prune .circleci
prune benchmarks
prune ci
