ipython
multipledispatch
nbsphinx
nose
numba
numpy==1.15.0
numpydoc
pandas
psutil
sortedcontainers
scikit-learn
scipy
six
sparse
sphinx
sphinx_rtd_theme
tornado
toolz
zict
dask-glm
git+https://github.com/dask/dask.git
git+https://github.com/dask/distributed.git
dask_sphinx_theme
matplotlib
